<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/default.xhtml">
	<ui:define name="title">#{text['subscription.title']}</ui:define>
	<ui:define name="body">
		<div class="col-sm-2">
			<h2>
				<h:outputText value="#{text['subscription.heading']}" />
			</h2>
			<h:outputText value="#{text['subscription.message']}" />
		</div>
		<div class="col-sm-10">
			<h:form id="subscriptions" styleClass="well">
				<div class="row">
					<div class="col-md-12">
						<h:outputText
							value="#{text['subscription.current']}: #{subscriptionAction.currentSubscription.subscriptionUser.subscription.description}" />
						<br></br>
						<h:outputText
							value="#{text['subscription.expiryDate']}: #{subscriptionAction.currentSubscription.endDateFormatted}" />
						<br></br>
						<h:outputText
							value="#{text['subscription.address']}: #{subscriptionAction.currentAddress.address}" />
					</div>
				</div>
				<ui:fragment rendered="#{subscriptionAction.displaySubscriptions}">
					<p:spacer width="100%" height="50" />
					<div class="row">
						<div class="col-md-12 text-center">
							<b> <h:outputText
									value="#{text['subscription.pleasePayStart']} #{subscriptionAction.selectedSubscription} #{text['subscription.pleasePayEnd']} #{text['subscription.address']} #{subscriptionAction.currentAddress.address}" />
							</b>
						</div>
					</div>
					<p:spacer width="100%" height="10" />
					<div class="row">
						<div class="col-md-4">
							<p:commandLink style="text-decoration: none;" ajax="true"
								action="#{subscriptionAction.subscribe}"
								update="@form:subscriptions">
								<div class="fees-details text-center">
									<h2 class="about-details-title">#{text['website.about.fees.1first']}</h2>
									<p class="fees-details-text">
										<h:outputText
											value="#{subscriptionAction.subscription1.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
										<h:outputText value=" BTC" />
									</p>
								</div>
								<f:param name="code" value="1DAY" />
							</p:commandLink>
						</div>
						<div class="col-md-4">
							<p:commandLink style="text-decoration: none;" ajax="true"
								action="#{subscriptionAction.subscribe}"
								update="@form:subscriptions">
								<div class="fees-details text-center">
									<h2 class="about-details-title">#{text['website.about.fees.2second']}</h2>
									<p class="fees-details-text">
										<h:outputText
											value="#{subscriptionAction.subscription2.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
										<h:outputText value=" BTC" />
									</p>
								</div>
								<f:param name="code" value="1MONTH" />
							</p:commandLink>
						</div>
						<div class="col-md-4">
							<p:commandLink style="text-decoration: none;" ajax="true"
								action="#{subscriptionAction.subscribe}"
								update="@form:subscriptions">
								<div class="fees-details text-center">
									<h2 class="about-details-title">#{text['website.about.fees.3third']}</h2>
									<p class="fees-details-text">
										<h:outputText
											value="#{subscriptionAction.subscription3.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
										<h:outputText value=" BTC" />
									</p>
									<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.3third.bonus']}</p>
								</div>
								<f:param name="code" value="6MONTHS" />
							</p:commandLink>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<p:commandLink style="text-decoration: none;" ajax="true"
								action="#{subscriptionAction.subscribe}"
								update="@form:subscriptions">
								<div class="fees-details text-center">
									<h2 class="about-details-title">#{text['website.about.fees.4fourth']}</h2>
									<p class="fees-details-text">
										<h:outputText
											value="#{subscriptionAction.subscription4.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
										<h:outputText value=" BTC" />
									</p>
									<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.4fourth.bonus']}</p>
								</div>
								<f:param name="code" value="12MONTHS" />
							</p:commandLink>
						</div>
						<div class="col-md-4">
							<p:commandLink style="text-decoration: none;" ajax="true"
								action="#{subscriptionAction.subscribe}"
								update="@form:subscriptions">
								<div class="fees-details text-center">
									<h2 class="about-details-title">#{text['website.about.fees.5fifth']}</h2>
									<p class="fees-details-text">
										<h:outputText
											value="#{subscriptionAction.subscription5.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
										<h:outputText value=" BTC" />
									</p>
									<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.5fifth.bonus']}</p>
								</div>
								<f:param name="code" value="24MONTHS" />
							</p:commandLink>
						</div>
						<div class="col-md-2"></div>
					</div>
				</ui:fragment>
				<p:spacer width="100%" height="50" />
				<p:accordionPanel>
					<p:tab title="#{text['subscription.paymentsHistory']}">
						<p:dataTable id="paymentsHistory"
							value="#{subscriptionAction.paymentsHistory}" var="payment">
							<p:column
								headerText="#{text['subscription.paymentsHistory.description']}">
								<h:outputText
									value="#{payment.subscriptionUser.subscription.description}" />
							</p:column>
							<p:column
								headerText="#{text['subscription.paymentsHistory.startDate']}">
								<h:outputText value="#{payment.startDateFormatted}" />
							</p:column>
							<p:column
								headerText="#{text['subscription.paymentsHistory.endDate']}">
								<h:outputText value="#{payment.endDateFormatted}" />
							</p:column>
							<p:column
								headerText="#{text['subscription.paymentsHistory.price']} BTC">
								<h:outputText
									value="#{payment.subscriptionUser.subscription.price}" />
							</p:column>
						</p:dataTable>
					</p:tab>
				</p:accordionPanel>
			</h:form>
			<p:spacer width="100%" height="100" />
		</div>
	</ui:define>
</ui:composition>
</html>