<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']}</title>
	<ui:include src="/common/assets.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}">
		<div id="header" class="navbar navbar-default navbar-fixed-top"
			role="navigation">
			<div class="navbar-header">
				<ul class="nav navbar-nav navbar-left">
					<li><a class="navbar-brand" href="#{request.contextPath}/home">
							<b>Coin</b> Anaλytics
					</a></li>
					<li><a href="#{request.contextPath}/home">#{text['website.headerMenu.home']}</a></li>
					<li><a href="#{request.contextPath}/about">#{text['website.headerMenu.about']}</a></li>
				</ul>

			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<ui:fragment rendered="#{menuController.userLoggedIn}">
						<li><a href="#{request.contextPath}/app/home">#{text['website.headerMenu.dashboard']}</a></li>
					</ui:fragment>
					<ui:fragment rendered="#{!menuController.userLoggedIn}">
						<li><a href="#{request.contextPath}/login">#{text['website.headerMenu.login']}</a></li>
					</ui:fragment>
				</ul>
			</div>
		</div>
		<div id="content" class="container">
			<div class="row">
				<ui:insert name="body" />
			</div>
		</div>
		<div id="footer" class="container navbar navbar-default">
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="footer-left">
						<p>
							<font size="3"> <a href="#{request.contextPath}/home">
									<span><b>Coin</b> Anaλytics</span>
							</a>
							</font>
						</p>
						<p>#{text['website.home.tagline']}</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<a href="http://www.twitter.com/CoinAnalytics" target="_blank">
						<i class="social fa fa-twitter fa-2x"></i>
					</a> <a href="http://www.facebook.com/CoinAnalytics" target="_blank">
						<i class="social fa fa-facebook fa-2x"></i>
					</a>
					<!-- a href="http://www.google.com/coin-analytics" target="_blank"> <i
						class="social fa fa-google-plus fa-2x"></i>
					</a -->
					<!-- a href="http://bitcoin.org" target="new"> <i
						class="social fa fa-bitcoin fa-2x"></i>
					</a -->
					<a href="http://bitcointalk.org/index.php?topic=914002"
						target="_blank"> <i class="social fa fa-bitcoin fa-2x"></i>
					</a>
					<!-- a href="http://www.reddit.com" target="_blank"> <i
						class="social fa fa-reddit fa-2x"></i>
					</a -->
				</div>
				<div class="col-md-4 text-left ">
					<div class="row text-center">
						<a href="#{request.requestURL}?locale=en"> <i
							class="flag-icon flag-icon-gb"></i>
						</a>
						<!-- a href="#{request.requestURL}?locale=es" -->
						<i class="flag-icon flag-icon-es desaturate"></i>
						<!-- /a -->
						<a href="#{request.requestURL}?locale=it"> <i
							class="flag-icon flag-icon-it"></i>
						</a>
						<!-- a href="#{request.requestURL}?locale=ru" -->
						<i class="flag-icon flag-icon-ru desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=de" -->
						<i class="flag-icon flag-icon-de desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=fr" -->
						<i class="flag-icon flag-icon-fr desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=sa" -->
						<i class="flag-icon flag-icon-sa desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=cn" -->
						<i class="flag-icon flag-icon-cn desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=jp" -->
						<i class="flag-icon flag-icon-jp desaturate"></i>
						<!-- /a -->
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about">#{text['website.footerMenu.about']}</a>
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about#faq">#{text['website.footerMenu.faq']}</a>
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about#fees">#{text['website.footerMenu.fees']}</a>
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about#terms">#{text['website.footerMenu.terms']}</a>
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about#risk">#{text['website.footerMenu.risk']}</a>
					</div>
					<div class="row">
						<a href="#{request.contextPath}/about#contact">#{text['website.footerMenu.contact']}</a>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center copyright-website">
				<i class="fa fa-copyright"></i>#{text['copyright.year']}
				coin-analytics.com. #{text['website.copyright']}
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
