<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']}</title>
	<ui:include src="/common/assets.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}"
		onload="PrimeFaces.changeTheme('#{menuController.theme}')">
		<div class="navbar-fixed-top">
			<ui:fragment rendered="#{menuController.admin}">
				<ui:include src="/layouts/menu-admin.xhtml" />
			</ui:fragment>
			<ui:fragment rendered="#{!menuController.admin}">
				<ui:include src="/layouts/menu-user.xhtml" />
			</ui:fragment>
		</div>
		<div class="container" id="content">
			<!-- p:growl id="messages" showDetail="true" / -->
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<div class="row">
				<ui:insert name="body" />
			</div>
		</div>
		<div id="footer" class="container navbar navbar-fixed-bottom">
			<div class="row">
				<div class="col-md-6 text-left">
					<div class="footer-left">
						<h:outputText
							value="#{text['subscription.current']}: #{menuController.currentSubscription.subscription.description}" />
						<!-- br></br>
						<h:outputText value="#{text['webapp.version']}" / -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12 text-right">
						<p:clock pattern="E MMM dd HH:mm:ss yyyy" mode="server"
							autoSync="true" syncInterval="60000" />
					</div>
					<p:spacer width="100%" height="1" />
					<div class="footer-right text-right">
						<a href="#{request.requestURL}?locale=en"> <i
							class="flag-icon flag-icon-gb"></i>
						</a>
						<!-- a href="#{request.requestURL}?locale=es" -->
						<i class="flag-icon flag-icon-es desaturate"></i>
						<!-- /a -->
						<a href="#{request.requestURL}?locale=it"> <i
							class="flag-icon flag-icon-it"></i>
						</a>
						<!-- a href="#{request.requestURL}?locale=ru" -->
						<i class="flag-icon flag-icon-ru desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=de" -->
						<i class="flag-icon flag-icon-de desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=fr" -->
						<i class="flag-icon flag-icon-fr desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=sa" -->
						<i class="flag-icon flag-icon-sa desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=cn" -->
						<i class="flag-icon flag-icon-cn desaturate"></i>
						<!-- /a -->
						<!-- a href="#{request.requestURL}?locale=jp" -->
						<i class="flag-icon flag-icon-jp desaturate"></i>
						<!-- /a -->
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center copyright-application">
				<i class="fa fa-copyright"></i>#{text['copyright.year']}
				coin-analytics.com. #{text['website.copyright']}
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
