<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
	<h:form>
		<p:menubar>
			<p:menuitem value="Coin Anaλytics" url="/app/home">
				<a class="navbar-brand" href="#{request.contextPath}/app/home">
					<b>Coin</b> Anaλytics
				</a>
			</p:menuitem>
			<p:submenu label="#{text['menu.arbitrage']}" icon="ui-icon-comment">
				<p:submenu label="#{text['menu.arbitrage.fiat']}">
					<p:menuitem value="#{text['menu.arbitrage.fiat.usd']}"
						url="/app/arbitrage/arbitrageUSD" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.eur']}"
						url="/app/arbitrage/arbitrageEUR" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.cny']}"
						url="/app/arbitrage/arbitrageCNY" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.rub']}"
						url="/app/arbitrage/arbitrageRUB" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.gbp']}"
						url="/app/arbitrage/arbitrageGBP" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.usdeur']}"
						url="/app/arbitrage/arbitrageUSDEUR" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.cnyeur']}"
						url="/app/arbitrage/arbitrageCNYEUR" />
					<p:menuitem value="#{text['menu.arbitrage.fiat.gbpeur']}"
						url="/app/arbitrage/arbitrageGBPEUR" />
				</p:submenu>
				<p:submenu label="#{text['menu.arbitrage.crypto']}">
					<p:menuitem value="#{text['menu.arbitrage.crypto.ltc']}"
						url="/app/arbitrage/arbitrageLTC" />
					<p:menuitem value="#{text['menu.arbitrage.crypto.doge']}"
						url="/app/arbitrage/arbitrageDOGE" />
					<p:menuitem value="#{text['menu.arbitrage.crypto.xrp']}"
						url="/app/arbitrage/arbitrageXRP" />
					<p:menuitem value="#{text['menu.arbitrage.crypto.xpy']}"
						url="/app/arbitrage/arbitrageXPY" />
				</p:submenu>
			</p:submenu>
			<p:menuitem value="#{text['menu.loans']}" url="/app/loans"
				icon="ui-icon-person" />
			<p:menuitem value="#{text['menu.mining']}" url="/app/mining"
				icon="ui-icon-disk" />
			<p:menuitem value="#{text['menu.derivatives']}"
				url="/app/derivatives" icon="ui-icon-lightbulb" />
			<p:menuitem value="#{text['menu.exchanges']}" url="/app/exchanges"
				icon="ui-icon-info" />
			<p:submenu label="#{text['menu.admin']}" icon="ui-icon-gear">
				<p:menuitem value="#{text['menu.admin.arbitrageScanner']}"
					url="/app/settings/arbitrageScanner" />
				<p:menuitem value="#{text['menu.admin.exchanges']}"
					url="/app/settings/listExchanges" />
				<p:menuitem value="#{text['menu.admin.apis']}"
					url="/app/settings/listAPIs" />
				<p:menuitem value="#{text['menu.admin.fees']}"
					url="/app/settings/listFees" />
				<p:menuitem value="#{text['menu.admin.historicalData']}"
					url="/app/settings/listHistoricalData" />
			</p:submenu>
			<p:submenu label="#{text['menu.help']}" icon="ui-icon-help">
				<p:menuitem value="#{text['menu.help.1first']}" url="#" />
				<p:submenu label="#{text['website.footerMenu.faq']}">
					<p:menuitem value="#{text['menu.help.2second']}" url="#" />
					<p:menuitem value="#{text['menu.help.3third']}" url="#" />
					<p:menuitem value="#{text['menu.help.4forth']}" url="#" />
					<p:menuitem value="#{text['menu.help.5fifth']}" url="#" />
					<p:menuitem value="#{text['menu.help.6sixth']}" url="#" />
					<p:menuitem value="#{text['menu.help.7seventh']}" url="#" />
				</p:submenu>
				<p:menuitem value="#{text['website.headerMenu.about']}" url="#"
					onclick="PF('aboutDialog').show();" icon="ui-icon-info" />
			</p:submenu>
			<p:submenu style="position: absolute; right: 18px;"
				label="#{text['menu.user.hello']} #{menuController.user.username}">
				<p:menuitem value="#{text['menu.user.myProfile']}"
					url="/app/myProfile/editProfile" icon="ui-icon-contact" />
				<p:menuitem value="#{text['menu.admin.users']}"
					url="/app/admin/users" />
				<p:menuitem value="#{text['home.activeUsers']}"
					url="/app/admin/activeUsers" />
				<p:separator />
				<p:menuitem value="#{text['user.logout']}"
					url="/app/myProfile/logout" icon="ui-icon-power" />
			</p:submenu>
		</p:menubar>
		<p:dialog widgetVar="aboutDialog" modal="true" width="500"
			height="300" draggable="false" resizable="false" closable="true">
			<f:facet name="header">
				<h:outputText value="#{text['webapp.name']}" escape="false" />
			</f:facet>
			<p:spacer width="50" height="80" />
			<p>
				<h:outputText value="#{text['webapp.version']}" />
			</p>
			<p>
				<h:outputText value="Copyright " />
				<i class="fa fa-copyright"></i>#{text['copyright.year']}
				coin-analytics.com. #{text['website.copyright']}
			</p>
			<h:outputText value="#{text['webapp.disclaimer']}" escape="false" />
			<h:outputText value="#{text['webapp.technology']}" escape="false" />
			<p>
				<a href="https://www.oracle.com/java/index.html"> <img
					src="#{request.contextPath}/images/oracle-java-logo.jpg"
					style="width: 100px;" />
				</a>
				<p:spacer width="1" height="10" />
				<a href="http://primefaces.org/"> <img
					src="#{request.contextPath}/images/logo-primefaces.png"
					style="width: 100px;" />
				</a>
			</p>
		</p:dialog>
	</h:form>
</ui:composition>
</html>