<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
      
<ui:composition template="../../layouts/default.xhtml">
    <ui:define name="title">#{text['apis.add.title']}</ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            var msgDelConfirm = "<h:outputFormat value="#{text['delete.confirm']}"><f:param value="API"/></h:outputFormat>";
        </script>
 
        <div class="col-sm-3">
            <h2>#{text['apis.add.heading']}</h2>
        </div>
 
        <div class="col-sm-9">
            <h:form id="apiForm" styleClass="well">
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="exchange" value="#{text['apis.exchangeCode']}: "/>
					<h:selectOneMenu id="exchange" value="#{apisAction.exchangeCode}">
   						<f:selectItems value="#{apisAction.exchanges}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="market" value="#{text['apis.type']}: "/>
					<h:selectOneMenu id="market" value="#{apisAction.type}">
   						<f:selectItems value="#{apisAction.APITypes}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="address" value="#{text['apis.address']}"/>
                    <h:inputText id="address" value="#{apisAction.selectedAPI.address}" styleClass="form-control"
                                 maxlength="255"/>
                </div>
                <div class="form-group">
                    <h:commandButton value="#{text['button.save']}" action="#{apisAction.save}"
                                     id="save" styleClass="btn btn-primary"/>
                    <h:commandButton value="#{text['button.delete']}" action="#{apisAction.delete}"
                                     id="delete" styleClass="btn btn-default"
                                     onclick="return confirmMessage(msgDelConfirm)"/>
                    <h:commandButton value="#{text['button.cancel']}" action="cancel" immediate="true"
                                     id="cancel" styleClass="btn btn-default"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>