<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
        
<ui:composition template="../../layouts/default.xhtml">
    <ui:define name="title">#{text['exchanges.add.title']}</ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            var msgDelConfirm = "<h:outputFormat value="#{text['delete.confirm']}"><f:param value="Exchange"/></h:outputFormat>";
        </script>
 
        <div class="col-sm-3">
            <h2>#{text['exchanges.add.heading']}</h2>
        </div>
 
        <div class="col-sm-9">
            <h:form id="exchangeForm" styleClass="well">
                <h:inputHidden value="#{exchangeAction.selectedExchange.code}" id="selectedCode"/>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="code" value="#{text['exchanges.code']}"/>
                    <h:inputText id="code" value="#{exchangeAction.selectedExchange.code}" styleClass="form-control"
                                 maxlength="50"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="name" value="#{text['exchanges.name']}"/>
                    <h:inputText id="name" value="#{exchangeAction.selectedExchange.name}" styleClass="form-control"
                                 maxlength="50"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="description" value="#{text['exchanges.description']}"/>
                    <h:inputText id="description" value="#{exchangeAction.selectedExchange.description}" styleClass="form-control"
                                 maxlength="255"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="websiteAddress" value="#{text['exchanges.website']}"/>
                    <h:inputText id="websiteAddress" value="#{exchangeAction.selectedExchange.websiteAddress}" styleClass="form-control"
                                 maxlength="255"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="apiAddress" value="#{text['exchanges.api']}"/>
                    <h:inputText id="apiAddress" value="#{exchangeAction.selectedExchange.apiAddress}" styleClass="form-control"
                                 maxlength="255"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="feeAddress" value="#{text['exchanges.fee']}"/>
                    <h:inputText id="feeAddress" value="#{exchangeAction.selectedExchange.feeAddress}" styleClass="form-control"
                                 maxlength="255"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="restInterface" value="#{text['exchanges.restInterface']}"/>
                    <h:selectBooleanCheckbox id="restInterface" value="#{exchangeAction.selectedExchange.restInterface}" styleClass="form-control"/>
                </div>
                <div class="form-group">
                    <h:commandButton value="#{text['button.save']}" action="#{exchangeAction.save}"
                                     id="save" styleClass="btn btn-primary"/>
                    <h:commandButton value="#{text['button.delete']}" action="#{exchangeAction.delete}"
                                     id="delete" styleClass="btn btn-default"
                                     onclick="return confirmMessage(msgDelConfirm)"/>
                    <h:commandButton value="#{text['button.cancel']}" action="cancel" immediate="true"
                                     id="cancel" styleClass="btn btn-default"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>