<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
      
<ui:composition template="../../layouts/default.xhtml">
    <ui:define name="title">#{text['fees.add.title']}</ui:define>
    <ui:define name="body">
        <script type="text/javascript">
            var msgDelConfirm = "<h:outputFormat value="#{text['delete.confirm']}"><f:param value="Fee"/></h:outputFormat>";
        </script>
 
        <div class="col-sm-3">
            <h2>#{text['fees.add.heading']}</h2>
        </div>
 
        <div class="col-sm-9">
            <h:form id="feeForm" styleClass="well">
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="exchange" value="#{text['fees.exchangeCode']}: "/>
					<h:selectOneMenu id="exchange" value="#{feesAction.exchangeCode}">
   						<f:selectItems value="#{feesAction.exchanges}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="market" value="#{text['fees.type']}: "/>
					<h:selectOneMenu id="market" value="#{feesAction.type}">
   						<f:selectItems value="#{feesAction.feeTypes}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="unit" value="#{text['fees.unit']}: "/>
					<h:selectOneMenu id="unit" value="#{feesAction.selectedFee.unit}">
   						<f:selectItems value="#{feesAction.feeUnits}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="value" value="#{text['fees.value']}"/>
                    <h:inputText id="value" value="#{feesAction.selectedFee.value}" styleClass="form-control"
                                 maxlength="50"/>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="note" value="#{text['fees.note']}"/>
                    <h:inputText id="note" value="#{feesAction.selectedFee.note}" styleClass="form-control"
                                 maxlength="50"/>
                </div>
                <div class="form-group">
                    <h:commandButton value="#{text['button.save']}" action="#{feesAction.save}"
                                     id="save" styleClass="btn btn-primary"/>
                    <h:commandButton value="#{text['button.delete']}" action="#{feesAction.delete}"
                                     id="delete" styleClass="btn btn-default"
                                     onclick="return confirmMessage(msgDelConfirm)"/>
                    <h:commandButton value="#{text['button.cancel']}" action="cancel" immediate="true"
                                     id="cancel" styleClass="btn btn-default"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>