<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/default.xhtml">
	<ui:define name="title">#{text['arbitrageScanner.title']}</ui:define>
	<ui:define name="bodyId">arbitrageScanner</ui:define>
	<ui:define name="body">
		<div class="col-sm-12">
			<h2>#{text['arbitrageScanner.heading']}</h2>
			<p>#{text['arbitrageScanner.message']}</p>
			<h:form id="arbitrageScannerManager">
				<p:panel id="arbitrageThread"
					header="#{text['arbitrageScanner.arbitrageThread']}">
					<h:outputText
						value="Is Alive: #{arbitrageScannerManagerAction.arbitrageThreadIsAlive}" />
					<br></br>
					<h:outputText
						value="Is Interrupted: #{arbitrageScannerManagerAction.arbitrageThreadIsInterrupted}" />
					<br></br>
					<h:outputText
						value="State: #{arbitrageScannerManagerAction.arbitrageThreadState}" />
					<br></br>
					<br></br>
					<h:commandButton value="CheckAccess"
						action="#{arbitrageScannerManagerAction.arbitrageThreadCheckAccess}"
						id="checkAccessArbitrageThread" immediate="true"
						styleClass="btn btn-primary" />
					<p:spacer width="50" height="10" />
					<h:commandButton value="Restart"
						action="#{arbitrageScannerManagerAction.arbitrageThreadRestart}"
						id="restartArbitrageThread" immediate="true"
						styleClass="btn btn-primary" />
				</p:panel>
				<p:poll interval="15" 
					update="@form" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>