<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
      
<ui:composition template="../../layouts/default.xhtml">
    <ui:define name="title">#{text['historicalData.import.title']}</ui:define>
    <ui:define name="body">
        <div class="col-sm-3">
            <h2>#{text['historicalData.import.heading']}</h2>
        </div> 
        <div class="col-sm-9">
            <h:form id="exchangesForm" enctype="multipart/form-data" styleClass="well">
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="exchange" value="#{text['apis.exchangeCode']}: "/>
					<h:selectOneMenu id="exchange" value="#{historicalDataAction.exchangeCode}">
   						<f:selectItems value="#{historicalDataAction.exchanges}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="market" value="#{text['apis.type']}: "/>
					<h:selectOneMenu id="market" value="#{historicalDataAction.type}">
   						<f:selectItems value="#{historicalDataAction.types}" />
   					</h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel styleClass="control-label" for="source" value="#{text['exchanges.import.source']}"/>
                    <p:fileUpload id="source" value="#{historicalDataAction.importFile}" mode="simple" required="true"/>
                </div>
                <div class="form-group">
                    <h:commandButton value="#{text['button.import']}" action="#{historicalDataAction.importHistoricalData}"
                                     id="import" styleClass="btn btn-primary"/>
                    <h:commandButton value="#{text['button.cancel']}" action="cancel" immediate="true"
                                     id="cancel" styleClass="btn btn-default"/>
                </div>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>