<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/default.xhtml">
	<ui:define name="title">#{text['apis.import.title']}</ui:define>
	<ui:define name="body">
		<div class="col-sm-3">
			<h2>#{text['apis.import.heading']}</h2>
		</div>
		<div class="col-sm-9">
			<h:form id="apisForm" enctype="multipart/form-data" styleClass="well">
				<p:ajaxStatus onstart="PF('statusDialog').show()"
					oncomplete="PF('statusDialog').hide()" />
				<p:dialog widgetVar="statusDialog"
					header="#{text['apis.import.source']}" closable="false"
					modal="true">
               Please wait...
            </p:dialog>
				<div class="form-group">
					<h:outputLabel styleClass="control-label" for="source"
						value="#{text['apis.import.source']}" />
					<p:fileUpload id="source" value="#{apisAction.importFile}"
						mode="simple" required="true" />
				</div>
				<div class="form-group">
					<h:commandButton value="#{text['button.import']}"
						action="#{apisAction.importAPIs}" id="import"
						styleClass="btn btn-primary" onstart="PF('statusDialog').show()"
						oncomplete="PF('statusDialog').hide()" ajax="true"/>
					<h:commandButton value="#{text['button.cancel']}" action="cancel"
						immediate="true" id="cancel" styleClass="btn btn-default" />
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>