<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/default.xhtml">
	<ui:define name="title">#{text['historicalData.title']}</ui:define>
	<ui:define name="bodyId">historicalDataList</ui:define>
	<ui:define name="body">
		<div class="col-sm-12">
			<h2>#{text['historicalData.heading']}</h2>
			<p>#{text['historicalData.message']}</p>
			<h:form id="editHistoricalData" prependId="false">
				<div id="actions" class="btn-group">
					<h:commandButton value="#{text['button.import']}" action="import"
						id="import" immediate="true" styleClass="btn btn-primary" />
					<h:commandButton value="#{text['button.done']}" action="home"
						id="cancel" immediate="true" styleClass="btn btn-default" />
				</div>
				<p:dataTable id="data" var="historicalData"
					value="#{historicalDataAction.historicalData}"
					sortBy="#{historicalDataAction.sortColumn}" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" rows="10">
					<p:column>
						<f:facet name="header">
							<p:column sortBy="exchangeName">
								<h:outputText value="#{text['exchanges.name']}" />
							</p:column>
						</f:facet>
						<h:outputText value="#{historicalData.exchange.name}" escape="true" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<p:column sortBy="exchangeDescription">
								<h:outputText value="#{text['historicalData.market']}" />
							</p:column>
						</f:facet>
						<h:outputText value="#{historicalData.type.market.code}" escape="true" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<p:column sortBy="exchangeWebsite">
								<h:outputText value="#{text['historicalData.records']}" />
							</p:column>
						</f:facet>
						<h:outputText value="#{historicalData.records}" escape="true" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<p:column sortBy="exchangeAPI">
								<h:outputText value="#{text['historicalData.startTime']}" />
							</p:column>
						</f:facet>
						<h:outputText value="#{historicalData.startTime}" escape="true" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<p:column sortBy="exchangeFee">
								<h:outputText value="#{text['historicalData.endTime']}" />
							</p:column>
						</f:facet>
						<h:outputText value="#{historicalData.endTime}" escape="true" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>