<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">
 
<ui:composition template="../../layouts/default.xhtml">
    <ui:define name="title">#{text['apis.title']}</ui:define>
    <ui:define name="bodyId">apisList</ui:define>
    <ui:define name="body">
 
        <div class="col-sm-12">
            <h2>#{text['apis.heading']}</h2>
 
            <p>#{text['apis.message']}</p>
 
            <h:form id="listAPI">
            <div id="actions" class="btn-group">
                <h:commandButton value="#{text['button.add']}" action="add" id="add" immediate="true" styleClass="btn btn-primary"/>
                <h:commandButton value="#{text['button.import']}" action="import" id="import" immediate="true" styleClass="btn btn-primary"/>
                <h:commandButton value="#{text['button.done']}" action="home" id="cancel" immediate="true" styleClass="btn btn-default"/>
            </div>
 
            <p:dataTable id="apis" var="api" value="#{apisAction.APIs}"
                         sortBy="#{apisAction.sortColumn}" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="10,50,200" rows="50">
                <p:column>
                    <f:facet name="header">
                        <p:column sortBy="exchangeCode">
                            <h:outputText value="#{text['apis.exchangeCode']}" />
                        </p:column>
                    </f:facet>
                    <h:commandLink action="#{apisAction.edit}" value="#{api.exchange.code}">
                        <f:param name="exchangeCode" value="#{api.exchange.code}"/>
                        <f:param name="marketCode" value="#{api.feeType.market.code}"/>
                        <f:param name="type" value="#{api.feeType.type}"/>
                    </h:commandLink>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:column sortBy="marketCode">
                            <h:outputText value="#{text['apis.marketCode']}" />
                        </p:column>
                    </f:facet>
                    <h:outputText value="#{api.feeType.market.code}" escape="true"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:column sortBy="type">
                            <h:outputText value="#{text['apis.type']}" />
                        </p:column>
                    </f:facet>
                    <h:outputText value="#{api.feeType.type}" escape="true"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:column sortBy="address">
                            <h:outputText value="#{text['apis.address']}" />
                        </p:column>
                    </f:facet>
                    <h:outputText value="#{api.address}" escape="true"/>
                </p:column>
            </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>