<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultLogin.xhtml">
	<ui:define name="title">#{text['website.about.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="aboutForm" prependId="false">
			<div class="container">
				<div class="row">
					<div id="about-side-menu" class="col-md-4" style="height: 330px;">
						<div class="bs-docs-sidebar" role="complementary">
							<div class="affix  hidden-sm">
								<h1 class="">#{text['website.about.sidebarTitle']}</h1>
								<ul class="nav bs-docs-sidenav">
									<li><a href="#faq" data-toggle="collapse"
										data-target="#faqsub" class="collapsed" aria-expanded="false">
											#{text['website.footerMenu.faq']}<i
											class="fa fa-fw fa-caret-down"></i>
									</a>
										<ul id="faqsub" class="nav collapse sub-menu"
											aria-expanded="true">
											<li><a href="#1first">#{text['website.about.faq.1first']}</a></li>
											<li><a href="#2second">#{text['website.about.faq.2second']}</a></li>
											<li><a href="#3third">#{text['website.about.faq.3third']}
													<i><b>Coin</b> Analytics</i>?
											</a></li>
											<li><a href="#4fourth">#{text['website.about.faq.4fourth']}</a></li>
											<li><a href="#5fifth">#{text['website.about.faq.5fifth']}</a></li>
											<li><a href="#6sixth">#{text['website.about.faq.6sixth']}</a></li>
											<li><a href="#7seventh">#{text['website.about.faq.7seventh']}</a></li>
											<li><a href="#8eighth">#{text['website.about.faq.8eighth']}
													<i><b>Coin</b> Analytics</i>?
											</a></li>
											<li><a href="#9nineth">#{text['website.about.faq.9nineth']}</a></li>
											<li><a href="#10tenth">#{text['website.about.faq.10tenth']}</a></li>
										</ul></li>
									<li><a href="#fees">#{text['website.footerMenu.fees']}</a></li>
									<li><a href="#terms">#{text['website.footerMenu.terms']}</a></li>
									<li><a href="#risk">#{text['website.footerMenu.risk']}</a></li>
									<li><a href="#contact">#{text['website.footerMenu.contact']}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="about" class="col-md-8 about-page-text">
						<span id="faq"></span> <span id="1first"></span>
						<div>
							<H1>#{text['website.about.faq.title']}</H1>
							<h3>#{text['website.about.faq.1first']}</h3>
							<p>
								#{text['website.about.faq.1first.message1']} <a
									href="https://en.bitcoin.it/wiki/FAQ#What_is_Bitcoin.3F"
									target="_new"> <strong>here</strong></a>.
							</p>
							<div class="video embed-responsive embed-responsive-4by3 left">
								<p:media value="http://www.youtube.com/v/Gc2en3nHxA4"
									height="333em" player="flash"
									styleClass="col-sm-12 embed-responsive-item video" />
							</div>
							<span id="2second"></span>
							<h3>#{text['website.about.faq.2second']}</h3>
							<p>#{text['website.about.faq.2second.message']}</p>
							<span id="3third"></span>
							<h3>
								#{text['website.about.faq.3third']} <i><b>Coin</b> Analytics</i>?
							</h3>
							<p>
								<i><b>Coin</b> Analytics</i>
								#{text['website.about.faq.3third.message']}
							</p>
							<span id="4fourth"></span>
							<h3>#{text['website.about.faq.4fourth']}</h3>
							<p>#{text['website.about.faq.4fourth.message']}</p>
							<span id="5fifth"></span>
							<h3>#{text['website.about.faq.5fifth']}</h3>
							<p>
								#{text['website.about.faq.5fifth.message1']} <strong>#{text['website.about.faq.5fifth.message2']}</strong>#{text['website.about.faq.5fifth.message3']}
							</p>
							<span id="6sixth"></span>
							<h3>#{text['website.about.faq.6sixth']}</h3>
							<p>#{text['website.about.faq.6sixth.message1']}</p>
							<p>
								<strong>#{text['website.about.faq.6sixth.message2']}</strong>
							</p>
							<p>
								#{text['website.about.faq.6sixth.message3']} <i><b>Coin</b>
									Analytics</i> #{text['website.about.faq.6sixth.message4']}
							</p>
							<span id="7seventh"></span>
							<h3>#{text['website.about.faq.7seventh']}</h3>
							<p>
								#{text['website.about.faq.7seventh.message1']} <strong><a
									href="http://www.cryptocoincharts.info/v2/arbitrage">this
										one here</a></strong>).
							</p>
							<p>
								<strong>#{text['website.about.faq.7seventh.message2']}</strong>
							</p>
							<span id="8eighth"></span>
							<h3>
								#{text['website.about.faq.8eighth']} <i><b>Coin</b>
									Analytics</i>?
							</h3>
							<p>
								#{text['website.about.faq.8eighth.message1']} <i><b>Coin</b>
									Analytics</i>, #{text['website.about.faq.8eighth.message2']}
							</p>
							<p>
								<strong>#{text['website.about.faq.8eighth.message3']}</strong>
							</p>
							<span id="9nineth"></span>
							<h3>#{text['website.about.faq.9nineth']}</h3>
							<p>
								#{text['website.about.faq.9nineth.message1']} <i><b>Coin</b>
									Analytics</i> #{text['website.about.faq.9nineth.message2']} <strong><a
									href="#{request.contextPath}/about#9nineth">#{text['website.about.faq.9nineth.message3']}</a></strong>.
							</p>
							<span id="10tenth"></span>
							<h3>#{text['website.about.faq.10tenth']}</h3>
							<p>
								<i><b>Coin</b> Analytics</i>
								#{text['website.about.faq.10tenth.message']}
							</p>
						</div>
						<span id="fees"></span>
						<div class="row">
							<BR /> <BR />
							<h1>#{text['website.about.fees.title']}</h1>
							<div class="col-md-4">
								<p:commandLink style="text-decoration: none;" ajax="true"
									action="subscription" update="@form">
									<div class="fees-details text-center">
										<h2 class="about-details-title">#{text['website.about.fees.1first']}</h2>
										<p class="fees-details-text">
											<h:outputText
												value="#{subscriptionAction.subscription1.price}">
												<f:convertNumber maxFractionDigits="4" />
											</h:outputText>
											<h:outputText value=" BTC" />
										</p>
									</div>
								</p:commandLink>
							</div>
							<div class="col-md-4">
								<p:commandLink style="text-decoration: none;" ajax="true"
									action="subscription" update="@form">
									<div class="fees-details text-center">
										<h2 class="about-details-title">#{text['website.about.fees.2second']}</h2>
										<p class="fees-details-text">
											<h:outputText
												value="#{subscriptionAction.subscription2.price}">
												<f:convertNumber maxFractionDigits="4" />
											</h:outputText>
											<h:outputText value=" BTC" />
										</p>
									</div>
								</p:commandLink>
							</div>
							<div class="col-md-4">
								<p:commandLink style="text-decoration: none;" ajax="true"
									action="subscription" update="@form">
									<div class="fees-details text-center">
										<h2 class="about-details-title">#{text['website.about.fees.3third']}</h2>
										<p class="fees-details-text">
											<h:outputText
												value="#{subscriptionAction.subscription3.price}">
												<f:convertNumber maxFractionDigits="4" />
											</h:outputText>
											<h:outputText value=" BTC" />
										</p>
										<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.3third.bonus']}</p>
									</div>
								</p:commandLink>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-4">
								<p:commandLink style="text-decoration: none;" ajax="true"
									action="subscription" update="@form">
									<div class="fees-details text-center">
										<h2 class="about-details-title">#{text['website.about.fees.4fourth']}</h2>
										<p class="fees-details-text">
											<h:outputText
												value="#{subscriptionAction.subscription4.price}">
												<f:convertNumber maxFractionDigits="4" />
											</h:outputText>
											<h:outputText value=" BTC" />
										</p>
										<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.4fourth.bonus']}</p>
									</div>
								</p:commandLink>
							</div>
							<div class="col-md-4">
								<p:commandLink style="text-decoration: none;" ajax="true"
									action="subscription" update="@form">
									<div class="fees-details text-center">
										<h2 class="about-details-title">#{text['website.about.fees.5fifth']}</h2>
										<p class="fees-details-text">
											<h:outputText
												value="#{subscriptionAction.subscription5.price}">
												<f:convertNumber maxFractionDigits="4" />
											</h:outputText>
											<h:outputText value=" BTC" />
										</p>
										<p class="fees-details-text" style="color: #00FF00">#{text['website.about.fees.5fifth.bonus']}</p>
									</div>
								</p:commandLink>
							</div>
							<div class="col-md-2"></div>
						</div>
						<span id="terms"></span>
						<div>
							<BR /> <BR />
							<h1>#{text['website.about.terms.title']}</h1>
							<p>
								By using this Site, and further by registering to use our
								Service, you ("You, Your or Yourself") are agreeing to accept
								and comply with the terms and conditions of use stated below
								("Terms of Use"). You should read the entire Terms of Use
								carefully before you use this web site ("Site") or any of the
								services of this Site. As used herein, "<i><b>Coin</b>
									Analytics</i>" refers to the Site coin-analytics.com, including
								without limitation thereby, its owners, directors, investors,
								employees or other related parties. Depending upon context, "<i><b>Coin</b>
									Analytics</i>" may also refer to the services, products, Site,
								content or other materials (collectively, "Materials") provided
								by <i><b>Coin</b> Analytics</i>.
							</p>
							<p>
								The Service operated by <i><b>Coin</b> Analytics</i> show
								information about the market status of the Internet currency
								known as "Bitcoins" (see <strong><a
									href="http://bitcoin.org">bitcoin.org</a></strong> for more info).
							</p>
							<p>
								Depending on Your country of residence, You may not be able to
								use all the functions of the Site. It is your responsibility to
								follow those rules and laws in Your country of residence and/or
								country from which You access this Site and Services. As long as
								you agree to and actually comply with these Terms of Use, <i><b>Coin</b>
									Analytics</i> grants to you a personal, non-exclusive,
								non-transferable, non-sub-licensable and limited right to enter
								and use the Site and the Service.
							</p>
							<p>
								<strong>IF YOU DO NOT ACCEPT THE TERMS OF USE AND
									CONDITIONS OUTLINED IN THIS AGREEMENT, DO NOT ACCESS THE SITE
									OR USE OUR SERVICE.</strong>
							</p>
							<p>
								<strong>
									<p>By opening an account to use the Service ("Account"),
										You expressly represent and warrant:</p> <em>
										<ul>
											<li>You have accepted these Terms; and</li>
											<li>You are at least 18 years of age and have the full
												capacity to accept these Terms.</li>
										</ul>
								</em>
								</strong>
							</p>
							<h4>RISKS</h4>
							<p>The trading of goods and products, real or virtual, as
								well as virtual currencies involves significant risk. Prices can
								and do fluctuate on any given day. Due to such price
								fluctuations, you may increase or lose value in your assets at
								any given moment. Any currency, virtual or not, may be subject
								to large swings in value and may even become worthless. There is
								an inherent risk that losses will occur as a result of buying,
								selling or trading anything on a market. Bitcoin trading also
								has special risks not generally shared with official currencies
								or goods or commodities in a market. Unlike most currencies,
								which are backed by governments or other legal entities, or by
								commodities such as gold or silver, bitcoin is a unique kind of
								"fiat" currency, backed by technology and trust. There is no
								central bank that can take corrective measure to protect the
								value of bitcoins in a crisis or issue more currency. Instead,
								bitcoin is an as-yet autonomous and largely unregulated
								worldwide system of currency firms and individuals. Traders put
								their trust in a digital, decentralized and partially anonymous
								system that relies on peer-to-peer networking and cryptography
								to maintain its integrity</p>
							<p>Bitcoin trading is probably susceptible to irrational (or
								rational) bubbles or loss of confidence, which could collapse
								demand relative to supply. For example, confidence might
								collapse in bitcoin because of unexpected changes imposed by the
								software developers or others, a government crackdown, the
								creation of superior competing alternative currencies, or a
								deflationary or inflationary spiral. Confidence might also
								collapse because of technical problems: if the anonymity of the
								system is compromised, if money is lost or stolen, or if hackers
								or governments are able to prevent any transactions from
								settling. There may be additional risks that we have not
								foreseen or identified in our Terms of Use.</p>
							<p>
								<strong>You should carefully assess whether your
									financial situation and tolerance for risk is suitable for
									buying, selling or trading bitcoin.</strong>
							</p>
							<h4>LIMITED RIGHT OF USE</h4>
							<p>
								Unless otherwise specified, all Materials on this Site are the
								property of <i><b>Coin</b> Analytics</i> and are protected by
								copyright, trademark and other applicable laws. You may view,
								print and/or download a copy of the Materials from this Site on
								any single computer for your personal, informational,
								non-commercial use, provided you keep intact all copyright and
								other proprietary notices.The trademarks, service marks and
								logos of <i><b>Coin</b> Analytics</i> and others used in this
								Site ("Trademarks") are the property of <i><b>Coin</b>
									Analytics</i> and their respective owners. The software, text,
								images, graphics, data, prices, trades, charts, graphs, video
								and audio used on this Site belong to <i><b>Coin</b>
									Analytics</i>.
							</p>
							<p>The Trademarks and Material should not be copied,
								reproduced, modified, republished, uploaded, posted,
								transmitted, scraped, collected or distributed in any form or by
								any means, whether manual or automated. The use of any such
								Materials on any other Site or networked computer environment
								for any other purpose is strictly prohibited; any such
								unauthorized use may violate copyright, trademark and other
								applicable laws and could result in criminal or civil penalties.</p>
							<h4>MAINTAINING YOUR ACCOUNT: OUR RULES</h4>
							<p>
								This Site is for Your personal and non-commercial use only. We
								are vigilant in maintaining the security of our Site and the
								Service. You agree that You will not use any Account other than
								Your own, or access the Account of any other Member at any time,
								or assist others in obtaining unauthorized access. The creation
								or use of Accounts without obtaining the prior express
								permission from <i><b>Coin</b> Analytics</i> will result in the
								immediate suspension of all said Accounts, as well as all
								pending purchase/sale offers. Any attempt to do so or to assist
								others (Members or otherwise), or the distribution of
								instructions, software or tools for that purpose, will result in
								the Accounts of such Members being terminated.
							</p>
							<p>
								Termination is not the exclusive remedy for such a violation,
								and <i><b>Coin</b> Analytics</i> may elect to take further
								action against You. You also are responsible for maintaining the
								confidentiality of Your Account information, including your
								password. If there is suspicious activity related to your
								Account, we may, but are not obligated, to request additional
								information from You, including authenticating documents. You
								are obligated to comply with these security requests, or accept
								termination of Your Account.
							</p>
							<p>
								You are required to notify <i><b>Coin</b> Analytics</i>
								immediately of any unauthorized use of Your Account or password,
								or any other breach of security by email addressed to <a
									href="mailto:info@coin-analytics.com">info@coin-analytics.com</a>.
								Any Member who violates these rules may be terminated, and
								thereafter held liable for losses incurred by <i><b>Coin</b>
									Analytics</i> or any user of the Site. Finally, You agree that You
								will not use the Service to perform criminal activity of any
								sort, including but not limited to, money laundering, illegal
								gambling operations, terrorist financing, or malicious hacking.
							</p>
							<h4>TERMINATION</h4>
							<p>
								You may terminate this agreement with <i><b>Coin</b>
									Analytics</i>, and close your Account at any time, following
								settlement of any pending transactions.You also agree that <i><b>Coin</b>
									Analytics</i> may, by giving notice, in its sole discretion
								terminate Your access to the Site and to Your Account, including
								without limitation, our right to: limit, suspend or terminate
								the service and Members' Accounts, prohibit access to the Site
								and its content, services and tools, delay or remove hosted
								content, and take technical and legal steps to keep Members off
								the Site if we think that they are creating problems or possible
								legal liabilities, infringing the intellectual property rights
								of third parties, or acting inconsistently with the letter or
								spirit of these Terms.
							</p>
							<p>
								Additionally, we may, in appropriate circumstances and at our
								discretion, suspend or terminate Accounts of Members for any
								reason, including without limitation: (1) attempts to gain
								unauthorized access to the Site or another Member's account or
								providing assistance to others' attempting to do so, (2)
								overcoming software security features limiting use of or
								protecting any content, (3) usage of the Service to perform
								illegal activities such as money laundering, illegal gambling
								operations, financing terrorism, or other criminal activities,
								(4) violations of these Terms of Use, (5) failure to pay or
								fraudulent payment for Transactions, (6) unexpected operational
								difficulties, or (7) upon the request of law enforcement or
								other government agencies, if deemed to be legitimate and
								compelling by <i><b>Coin</b> Analytics</i>, acting in its sole
								discretion. We also reserve the right to cancel unconfirmed
								Accounts or Accounts that have been inactive for a period of 6
								months or more, and/or to modify or discontinue our Site or
								Service. Members agree that <i><b>Coin</b> Analytics</i> will
								not be liable to them or to any third party for termination of
								their Account or access to the Site.
							</p>
							<h4>AVAILABILITY</h4>
							<p>All services are provided without warranty of any kind,
								either express or implied. We assure that the Site will be
								available 99% of the time to meet your needs. In case of service
								disruption we will strive to provide You with the Service as
								soon as possible but there are no guarantees that access will
								not be interrupted, or that there will be no delays, failures,
								errors, omissions or loss of transmitted information. We will
								use reasonable endeavors to ensure that the Site can normally be
								accessed by You in accordance with these Terms of Use. We may
								suspend use of the Site for maintenance and will make reasonable
								efforts to give you notice. You acknowledge that this may not be
								possible in an emergency.</p>
							<h4>FINANCIAL REGULATION</h4>
							<p>
								Our business model, and our Service, consists of facilitating
								the buying, selling and trading of Bitcoins and their use to
								purchase goods in an unregulated, international open payment
								system. The Services we provide are currently unregulated within
								the UK. Email messages sent over the Internet are not secure and
								<i><b>Coin</b> Analytics</i> is not responsible for any damages
								incurred by the result of sending email messages over the
								Internet. We suggest sending email in encrypted formats.
							</p>
							<h4>JURISDICTION</h4>
							<p>The Terms of Use shall be governed and construed in
								accordance with English Law. The parties agree to irrevocably
								submit to the exclusive jurisdiction of the English Courts.</p>
							<h4>LIMITATION OF LIABILITY</h4>
							<p>
								To the extent permitted by law, <i><b>Coin</b> Analytics</i>
								will not be held liable for any damages, loss of profit, loss of
								revenue, loss of business, loss of opportunity, loss of data,
								indirect or consequential loss unless the loss suffered arising
								from negligence or wilful deceit or fraud. Nothing in these
								terms excludes or limits the liability of either party for
								fraud, death or personal injury caused by its negligence, breach
								of terms implied by operation of law, or any other liability
								which may not by law be limited or excluded. Subject to the
								foregoing, <i><b>Coin</b> Analytics</i>'s aggregate liability in
								respect of claims based on events arising out of or in
								connection with any single Member's use of the Site and/or
								Service, whether in contract or tort (including negligence) or
								otherwise, shall in no circumstances exceed the greater of
								either (a) the total amount held on Account for the Member
								making a claim less any amount of Commission that may be due and
								payable in respect of such Account; or (b) 125% of the amount of
								the Transaction(s) that are the subject of the claim less any
								amount of Commission that may be due and payable in respect of
								such Transaction(s).
							</p>
							<h4>INDEMNITY</h4>
							<p>
								To the full extent permitted by applicable law, You hereby agree
								to indemnify <i><b>Coin</b> Analytics</i>, and its partners
								against any action, liability, cost, claim, loss, damage,
								proceeding or expense suffered or incurred if direct or not
								directly arising from your use of <i><b>Coin</b> Analytics</i>'s
								Sites, Your use of the Service, or from your violation of these
								Terms of Use.
							</p>
							<h4>MODIFICATION OF TERMS</h4>
							<p>
								<i><b>Coin</b> Analytics</i> reserves the right to change, add
								or remove portions of these Terms, at any time, in an exercise
								of its sole discretion. You will be notified of any changes in
								advance through your Account. Upon such notification, it is your
								responsibility to review the amended Terms. Your continued use
								of the Site following the posting of a notice of changes to the
								Terms signifies that you accept and agree to the changes, and
								that all subsequent transactions by you will be subject to the
								amended Terms.
							</p>
							<h4>DEFINITIONS</h4>
							<p>
								<strong>Bitcoins:</strong> The Peer-to-Peer Internet currency
								further described at <strong><a
									href="http://bitcoin.org">bitcoin.org</a></strong>.
							</p>
							<p>
								<strong>Buyer(s):</strong> Member(s) that are submitting an
								offer to buy Bitcoins through the Service.
							</p>
							<p>
								<strong>Fee:</strong> Refers to the fee which is payable to <i><b>Coin</b>
									Analytics</i> for using the service.
							</p>
							<p>
								<strong>Member(s):</strong> Platform users holding an account
								with <i><b>Coin</b> Analytics</i> and engaging in arbitrage by
								depositing bitcoins.
							</p>
							<p>
								<strong>Service(s):</strong> The technological platform,
								functional rules and arbitrage algorithms managed by <i><b>Coin</b>
									Analytics</i> that enable user to profit from variations in prices
								on different trading platforms.
							</p>
						</div>
						<span id="risk"></span>
						<div>
							<BR /> <BR />
							<h1>#{text['website.about.risk.title']}</h1>
							<p>#{text['website.about.risk.1first']}</p>
							<p>
								#{text['website.about.risk.2second']} <strong>#{text['website.about.risk.3third']}</strong>
							</p>
							<p>
								<strong>#{text['website.about.risk.4fourth']} </strong>
								#{text['website.about.risk.5fifth']}
							</p>
							<p>#{text['website.about.risk.6sixth']}</p>
							<p>
								<i><b>Coin</b> Analytics</i>
								#{text['website.about.risk.7seventh']}
							</p>
							<p>
								<strong>#{text['website.about.risk.8eighth']}</strong>
								#{text['website.about.risk.9nineth']}
							</p>
							<strong>#{text['website.about.risk.10tenth']}</strong>
						</div>
						<span id="contact"></span>
						<div>
							<BR /> <BR />
							<h1>#{text['website.about.contact.title']}</h1>
							<p>
								#{text['website.about.contact.message']} <a
									href="mailto:contact@coin-analytics.com">
									contact@coin-analytics.com</a>.
							</p>
							<h4>E-MAIL:</h4>
							<p>
								<a href="mailto:contact@coin-analytics.com">
									contact@coin-analytics.com</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-58137844-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>