<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultLogin.xhtml">
	<ui:define name="title">#{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="newsletterForm" prependId="false">
			<div class="headerwrap">
				<div class="logo-header">
					<b>COIN</b> Anaλytics
				</div>
				<p>#{text['website.home.tagline']}</p>
				<p class="email-label">#{text['website.home.newsletterTitle']}</p>
				<div class="email-wrapper">
					<div class="row">
						<div class="table-cell vmiddle email-wrapper-button">
							<p:commandButton id="registerTop"
								value="#{text['button.register']}"
								immediate="true" styleClass="button btn btn-success"
								style="width: 100px; height: 40px;"
								action="register" />
						</div>
					</div>
				</div>
			</div>
			<div class="row about-details-section">
				<div class="col-md-4">
					<div class="about-details text-center">
						<i class="fa fa-lightbulb-o fa-5x"></i>
						<h2 class="about-details-title">#{text['website.home.smartBox.title']}</h2>
						<p class="about-details-text">#{text['website.home.smartBox.message']}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about-details text-center">
						<i class="fa fa-tachometer fa-5x"></i>
						<h2 class="about-details-title">#{text['website.home.realTimeBox.title']}</h2>
						<p class="about-details-text">#{text['website.home.realTimeBox.message']}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about-details text-center">
						<i class="fa fa-compass fa-5x"></i>
						<h2 class="about-details-title">#{text['website.home.aiBox.title']}</h2>
						<p class="about-details-text">#{text['website.home.aiBox.message']}</p>
					</div>
				</div>
			</div>
			<div class="col-md-12 main-section">
				<div class="row">
					<h1 class="text-center">#{text['website.home.main.title']}</h1>
					<hr />
					<p class="main-section-text">
						<h:outputText value="#{text['website.home.main.message']}"
							escape="false" />
					</p>
				</div>
				<div class="row">
					<h2 class="text-center">#{text['website.home.main.pro']}</h2>
					<div class="col-md-4">
						<div class="main-details text-center">
							<i class="fa fa-exchange fa-5x"></i>
							<h2 class="about-details-title">#{text['website.home.main.pro.pro1']}</h2>
							<p class="about-details-text">#{text['website.home.main.pro.pro1.message']}</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="main-details text-center">
							<i class="fa fa-money fa-5x"></i>
							<h2 class="about-details-title">#{text['website.home.main.pro.pro2']}</h2>
							<i class="social fa fa-usd fa-2x"></i> <i
								class="social fa fa-euro fa-2x"></i> <i
								class="social fa fa-gbp fa-2x"></i> <i
								class="social fa fa-cny fa-2x"></i> <i
								class="social fa fa-btc fa-2x"></i>
							<p class="about-details-text">#{text['website.home.main.pro.pro2.message']}</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="main-details text-center">
							<i class="fa fa-newspaper-o fa-5x"></i>
							<h2 class="about-details-title">#{text['website.home.main.pro.pro3']}</h2>
							<p class="about-details-text">#{text['website.home.main.pro.pro3.message']}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<p class="email-wrapper-footer">#{text['website.home.newsletterTitle']}</p>
				<div class="email-wrapper">
					<div class="row">
						<div class="table-cell vmiddle email-wrapper-button">
							<p:commandButton id="registerBottom"
								value="#{text['button.register']}"
								immediate="true" styleClass="button btn btn-success"
								style="width: 100px; height: 40px;"
								action="register" />
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-58137844-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>