<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultLogin.xhtml">
	<ui:define name="title">#{text['register.title']}</ui:define>
	<ui:param name="bodyId" value="register" />
	<ui:define name="body">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h2>#{text['register.heading']}</h2>
				#{text['register.message']}
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<h:form id="registerForm" styleClass="well" autocomplete="off">
					<div class="row">
						<div class="col-sm-12 form-group">
							<h:outputLabel styleClass="control-label" for="email"
								value="#{text['user.email']}" />
							<h:inputText styleClass="form-control"
								value="#{registerForm.user.email}" id="email" required="true" />
							<p:message for="email" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<h:outputLabel styleClass="control-label" for="username"
								value="#{text['user.username']}" />
							<h:inputText styleClass="form-control"
								value="#{registerForm.user.username}" id="username"
								required="true" autofocus="true" />
							<p:message for="username" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="password"
								value="#{text['user.password']}" />
							<h:inputSecret styleClass="form-control"
								value="#{registerForm.user.password}" id="password"
								redisplay="true" required="true" />
							<p:message for="password" />
						</div>
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="confirmPassword"
								value="#{text['user.confirmPassword']}" />
							<h:inputSecret styleClass="form-control"
								value="#{registerForm.user.confirmPassword}" id="confirmPassword"
								redisplay="true" required="true">
								<!--p:validateEqual for="password"/-->
							</h:inputSecret>
							<p:message for="confirmPassword" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="currency"
								value="#{text['user.currency']}: " />
							<p:spacer width="10" height="10" />
							<h:selectOneMenu id="currency" value="#{registerForm.user.currency}">
								<f:selectItems value="#{registerForm.currencies}" />
							</h:selectOneMenu>
							<p:message for="currency" />
						</div>
						<div class="col-sm-6 form-group">
							<h:outputLabel for="advanced" value="#{text['user.theme']}: " />
							<p:spacer width="10" height="10" />
							<p:themeSwitcher id="advanced" style="width:165px" effect="fade"
								value="#{registerForm.user.theme}">
								<f:selectItems value="#{registerForm.themes}" />
								<p:column>
									<h:outputText styleClass="ui-theme ui-theme-"
										style="display-block" />
								</p:column>
								<p:column>
								</p:column>
							</p:themeSwitcher>
							<div class="row text-center">
								<h:outputLabel value="#{text['user.theme.default']}" />
							</div>
						</div>
					</div>
					<div class="form-group form-actions">
						<h:commandButton id="registerButton" value="#{text['button.register']}"
							action="#{registerForm.save}"
							styleClass="btn btn-primary" />
						<h:commandButton value="#{text['button.cancel']}" action="cancel"
							immediate="true" id="cancel" styleClass="btn btn-default" />
					</div>
					<p:blockUI block="registerForm" trigger="registerButton" />
    		</h:form>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</ui:define>
</ui:composition>
</html>