<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/default.xhtml">
	<span id="top"></span>
	<ui:define name="title">#{text['arbitrage.fiat.headingCNY']}</ui:define>
	<ui:define name="bodyId">ArbitrageCNY</ui:define>
	<ui:define name="body">
		<h:form id="form">
			<div class="row">
				<ul class="nav navbar-nav">
					<li class="active"><a
						href="#{request.contextPath}/app/arbitrage/arbitrageUSD">#{text['menu.arbitrage.fiat.usd']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageEUR">#{text['menu.arbitrage.fiat.eur']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageCNY">#{text['menu.arbitrage.fiat.cny']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageRUB">#{text['menu.arbitrage.fiat.rub']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageGBP">#{text['menu.arbitrage.fiat.gbp']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageUSDEUR">#{text['menu.arbitrage.fiat.usdeur']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageCNYEUR">#{text['menu.arbitrage.fiat.cnyeur']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageRUBEUR">#{text['menu.arbitrage.fiat.rubeur']}</a></li>
					<li><a
						href="#{request.contextPath}/app/arbitrage/arbitrageGBPEUR">#{text['menu.arbitrage.fiat.gbpeur']}</a></li>
				</ul>
			</div>
			<ui:fragment rendered="#{arbitrageCNYAction.delayed}">
				<div class="row">
					<div class="alert alert-warning text-center" role="alert">
						<b><h:outputText
								value="#{text['subscription.arbitrage.notActive']}" /></b> <br></br>
						<h:outputText value="#{text['subscription.arbitrage.delayed']}" />
						<a href="#{request.contextPath}/app/myProfile/subscription"><h:outputText
								value="#{text['subscription.arbitrage.subscription']} " /></a>
						<h:outputText value="#{text['subscription.arbitrage.realTime']}" />
					</div>
				</div>
			</ui:fragment>
			<p:accordionPanel activeIndex="-1">
				<p:tab title="#{text['arbitrage.exchangesPrices']}">
					<p:dataTable id="exchangesPrices"
						value="#{arbitrageCNYAction.tickers}" var="ticker">
						<p:column headerText="#{text['arbitrage.exchangeName']}">
							<h:commandLink action="#{arbitrageCNYAction.selectOrderbook}"
								value="#{ticker.exchange.name}">
								<f:param name="code" value="#{ticker.exchange.code}" />
							</h:commandLink>
						</p:column>
						<p:column headerText="#{text['arbitrage.sellPrice']} (¥)">
							<h:outputText value="#{ticker.sellPrice.price}">
								<f:convertNumber maxFractionDigits="4" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{text['arbitrage.buyPrice']} (¥)">
							<h:outputText value="#{ticker.buyPrice.price}">
								<f:convertNumber maxFractionDigits="4" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{text['arbitrage.orderbook']}">
							<h:commandLink action="#{arbitrageCNYAction.selectOrderbook}"
								value="#{text['arbitrage.orderbook']}">
								<f:param name="code" value="#{ticker.exchange.code}" />
							</h:commandLink>
						</p:column>
					</p:dataTable>
				</p:tab>
				<p:tab
					title="#{arbitrageCNYAction.selectedExchange.name} #{text['arbitrage.orderbook']}">
					<p:panelGrid>
						<p:row>
							<p:column style="vertical-align:top;">
								<p:dataTable id="selectedOrderbookSellOrders"
									value="#{arbitrageCNYAction.selectedOrderbook.sellOrders}"
									var="sellOrder">
									<f:facet name="header">
										<h:outputText
											value="#{text['arbitrage.sellOrders']}" />
									</f:facet>
									<p:column headerText="#{text['arbitrage.sellPrice']} (¥)">
										<h:outputText value="#{sellOrder.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.quantity']} (BTC)">
										<h:outputText value="#{sellOrder.quantity}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.cumValue']} (¥)">
										<h:outputText value="#{sellOrder.cumValue}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:column>
							<p:column style="vertical-align:top;">
								<p:dataTable id="selectedOrderbookBuyOrders"
									value="#{arbitrageCNYAction.selectedOrderbook.buyOrders}"
									var="buyOrder">
									<f:facet name="header">
										<h:outputText
											value="#{text['arbitrage.buyOrders']}" />
									</f:facet>
									<p:column headerText="#{text['arbitrage.buyPrice']} (¥)">
										<h:outputText value="#{buyOrder.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.quantity']} (BTC)">
										<h:outputText value="#{buyOrder.quantity}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.cumValue']} (¥)">
										<h:outputText value="#{buyOrder.cumValue}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:tab>
			</p:accordionPanel>
			<p:spacer width="100%" height="10" />
			<div class="col-md-12 text-center">
				<a href="#top">top</a>
			</div>
			<div class="col-md-12">
				<h3>#{text['arbitrage.fiat.headingCNY']}</h3>
			</div>
			<div class="col-md-12">
				<p:panelGrid id="arbVolume" style="width:100%;">
					<p:row>
						<p:column>
							<h:outputText value="#{text['arbitrage.size']}: " />
							<p:selectOneButton value="#{arbitrageCNYAction.arbVolume}">
								<f:selectItems value="#{arbitrageCNYAction.arbVolumes}"
									var="arbVolume" itemLabel="#{arbVolume}"
									itemValue="#{arbVolume}" />
								<p:ajax listener="#{arbitrageCNYAction.updateArbs}"
									update="@form" />
							</p:selectOneButton>
							<h:outputText value=" BTCs" />
							<p:spacer width="300" height="10" />
							<h:outputText
								value="#{text['arbitrage.arbsFound']}: #{arbitrageCNYAction.arbsNumber}" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</div>
			<ui:fragment rendered="#{arbitrageCNYAction.arbsDisplay}">
				<p:spacer width="100%" height="5" />
				<div class="col-md-4">
					<p:dataGrid id="arbs" var="arb" value="#{arbitrageCNYAction.arbs}"
						columns="1" layout="grid">
						<p:column>
							<p:panel style="text-align:left">
								<f:facet name="header">
									<p:commandLink style="text-decoration: none;" ajax="true"
										action="#{arbitrageCNYAction.selectArb}"
										update="@form:arbDetails">
										<h:outputText value="#{arb.value}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
										<h:outputText value="% " />
										<h:outputText value="#{arb.startExchange.name} -> " />
										<h:outputText value="#{arb.endExchange.name}" />
										<f:param name="selectedArb" value="#{arb.value}" />
										<f:param name="selectedArbStartExchange"
											value="#{arb.startExchange.code}" />
										<f:param name="selectedArbEndExchange"
											value="#{arb.endExchange.code}" />
									</p:commandLink>
								</f:facet>
								<h:outputText value="#{text['arbitrage.sell']}: " />
								<h:outputText value="#{arb.startGive}">
									<f:convertNumber currencySymbol="¥" type="currency"
										maxFractionDigits="2" />
								</h:outputText>
								<h:outputText value=" " />
								<h:outputText value="#{text['arbitrage.arbDetails.received']}: " />
								<h:outputText value="#{arb.endReceive}">
									<f:convertNumber currencySymbol="¥" type="currency"
										maxFractionDigits="2" />
								</h:outputText>
							</p:panel>
						</p:column>
					</p:dataGrid>
					<p:poll interval="15" listener="#{arbitrageCNYAction.updateArbs}"
						update="@form:arbs" />
				</div>
				<div class="col-md-8">
					<p:panelGrid id="arbDetails">
						<p:row>
							<p:column colspan="2">
								<p class="text-center">
									<b> <h:outputText
											value="#{arbitrageCNYAction.selectedArb.value}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText> <h:outputText value="% " /> <h:outputText
											value="#{arbitrageCNYAction.selectedArb.startExchange.name} -> " />
										<h:outputText
											value="#{arbitrageCNYAction.selectedArb.endExchange.name}" />
									</b>
								</p>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2">
								<p class="text-center">
									<b> <h:outputText value="#{text['arbitrage.tradeDetails']}" />
									</b>
								</p>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2">
								<div class="col-md-4 padding-1">
									<p:panel style="text-align:center">
										<f:facet name="header">
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.startExchange.name}&lt;br /&gt;CNY to BTC&lt;br /&gt;"
												escape="false" />
										</f:facet>
										<p class="text-left">
											<h:outputText value="#{text['arbitrage.sell']}: "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.startGive}">
												<f:convertNumber currencySymbol="¥" type="currency"
													maxFractionDigits="2" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.received']}: BTC "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.startReceive}">
												<f:convertNumber type="number" maxFractionDigits="5" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.fee']}: #{arbitrageCNYAction.selectedArb.startFee.unit} "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.startFee.value}">
												<f:convertNumber maxFractionDigits="2" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.average']}: "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.startAveragePrice}">
												<f:convertNumber currencySymbol="¥" type="currency"
													maxFractionDigits="2" />
											</h:outputText>
											<h:outputText value="&lt;br /&gt;" escape="false" />
										</p>
									</p:panel>
								</div>
								<div class="col-md-4 padding-1">
									<p:panel style="text-align:center">
										<f:facet name="header">
											<h:outputText
												value="#{text['arbitrage.transfer']}&lt;br /&gt;#{arbitrageCNYAction.selectedArb.startExchange.name} to #{arbitrageCNYAction.selectedArb.endExchange.name}"
												escape="false" />
										</f:facet>
										<p class="text-left">
											<h:outputText
												value="#{text['arbitrage.arbDetails.withdraw']}: BTC "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.withdrawValue}">
												<f:convertNumber maxFractionDigits="2" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.fee']}: #{arbitrageCNYAction.selectedArb.transferFee.unit} "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.transferFee.value}">
												<!-- f:convertNumber maxFractionDigits="5" / -->
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.deposited']}: BTC "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.receivedValue}">
												<f:convertNumber maxFractionDigits="5" />
											</h:outputText>
										</p>
									</p:panel>
								</div>
								<div class="col-md-4 padding-1">
									<p:panel style="text-align:center">
										<f:facet name="header">
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.endExchange.name}&lt;br /&gt;BTC to CNY"
												escape="false" />
										</f:facet>
										<p class="text-left">
											<h:outputText value="#{text['arbitrage.sell']}: BTC "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.endGive}">
												<f:convertNumber type="number" maxFractionDigits="5" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.received']}: "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.endReceive}">
												<f:convertNumber currencySymbol="¥" type="currency"
													maxFractionDigits="2" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.fee']}: #{arbitrageCNYAction.selectedArb.endFee.unit} "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.endFee.value}">
												<f:convertNumber maxFractionDigits="2" />
											</h:outputText>
											<h:outputText
												value="&lt;br /&gt;#{text['arbitrage.arbDetails.average']}: "
												escape="false" />
											<h:outputText
												value="#{arbitrageCNYAction.selectedArb.endAveragePrice}">
												<f:convertNumber currencySymbol="¥" type="currency"
													maxFractionDigits="2" />
											</h:outputText>
											<h:outputText value="&lt;br /&gt;" escape="false" />
										</p>
									</p:panel>
								</div>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2">
								<p class="text-center">
									<b> <h:outputText value="#{text['arbitrage.orderbooks']}" />
									</b>
								</p>
							</p:column>
						</p:row>
						<p:row>
							<p:column style="vertical-align:top;">
								<p:dataTable id="sellOrdersStart"
									value="#{arbitrageCNYAction.selectedArbStartExchangeOrderbook.sellOrders}"
									var="sellOrder">
									<f:facet name="header">
										<h:outputText
											value="#{text['arbitrage.sellOrders']} #{arbitrageCNYAction.selectedArb.startExchange.name}" />
									</f:facet>
									<p:column headerText="#{text['arbitrage.price']} (¥)">
										<h:outputText value="#{sellOrder.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.quantity']} (BTC)">
										<h:outputText value="#{sellOrder.quantity}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.cumValue']} (¥)">
										<h:outputText value="#{sellOrder.cumValue}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:column>
							<p:column style="vertical-align:top;">
								<p:dataTable id="buyOrdersEnd"
									value="#{arbitrageCNYAction.selectedArbEndExchangeOrderbook.buyOrders}"
									var="buyOrder">
									<f:facet name="header">
										<h:outputText
											value="#{text['arbitrage.buyOrders']} #{arbitrageCNYAction.selectedArb.endExchange.name}" />
									</f:facet>
									<p:column headerText="#{text['arbitrage.price']} (¥)">
										<h:outputText value="#{buyOrder.price}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.quantity']} (BTC)">
										<h:outputText value="#{buyOrder.quantity}">
											<f:convertNumber maxFractionDigits="4" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{text['arbitrage.cumValue']} (¥)">
										<h:outputText value="#{buyOrder.cumValue}">
											<f:convertNumber maxFractionDigits="2" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</p:column>
						</p:row>
					</p:panelGrid>
				</div>
			</ui:fragment>
			<ui:fragment rendered="#{!arbitrageCNYAction.arbsDisplay}">
				<p:poll interval="15" listener="#{arbitrageCNYAction.updateArbs}"
					update="@form:arbs" />
			</ui:fragment>
			<p:spacer width="100%" height="10" />
			<div class="col-md-12 text-center">
				<a href="#top">top</a>
			</div>
		</h:form>
		<p:spacer width="100%" height="100" />
	</ui:define>
	<ui:define name="scripts">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-58137844-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>