<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../layouts/default.xhtml">
	<ui:define name="title">#{text['exchangesView.title']}</ui:define>
	<ui:define name="bodyId">Exchanges</ui:define>
	<ui:define name="body">

		<h:form id="exchangesView">
			<div class="col-sm-12">
				<h2>#{text['exchanges.heading']}</h2>
				<p>#{text['exchanges.message']}</p>
			</div>
			<div class="col-sm-6">
				<p:accordionPanel value="#{exchangesViewAction.exchanges1}"
					var="exchange" activeIndex="-1">
					<p:tab title="#{exchange.exchange.name}"
						titleStyle="background-color:#{exchange.exchange.restInterface ? '#00FF00' : '#FF0000'};">
						<h:outputText value="#{text['exchanges.description']}: "
							style="font-weight:bold" />
						<h:outputText value="#{exchange.exchange.description}" />
						<br />
						<h:outputText value="#{text['exchanges.website']}: "
							style="font-weight:bold" />
						<p:link href="#{exchange.exchange.websiteAddress}"
							value="#{exchange.exchange.websiteAddress}" target="_blank"
							style="color:#0000FF" />
						<br />
						<h:outputText value="#{text['exchanges.status']}: "
							style="font-weight:bold" />
						<h:outputText value="#{exchange.exchange.restInterface ? 'On-Line' : 'Off-Line'}" 
							style="color:#{exchange.exchange.restInterface ? '#00FF00' : '#FF0000'};"/>						<br />
						<h:outputText value="#{text['exchangesView.fee']}: "
							style="font-weight:bold" />
						<p:link href="#{exchange.exchange.feeAddress}"
							value="#{exchange.exchange.feeAddress}" target="_blank"
							style="color:#0000FF" />
						<br />
						<h:outputText value="#{text['exchangesView.tradingFees']}:"
							style="font-weight:bold" />
						<ui:repeat value="#{exchange.tradingFees}" var="tradingFee">
							<h:outputText value="&#160;" />
							<h:outputText
								value="#{tradingFee.unit}#{tradingFee.value} #{tradingFee.note}" />
						</ui:repeat>
						<br />
						<h:outputText value="#{text['exchangesView.depositMethods']}:"
							style="font-weight:bold" />
						<br />
						<ui:repeat value="#{exchange.depositMethods}" var="depositMethod">
							<h:outputText value="&#160;&#160;&#160;&#160;" />
							<h:outputText
								value="#{depositMethod.feeType.market.code} #{depositMethod.unit}#{depositMethod.value} #{depositMethod.note}" />
							<br />
						</ui:repeat>
						<h:outputText value="#{text['exchangesView.withdrawMethods']}:"
							style="font-weight:bold" />
						<br />
						<ui:repeat value="#{exchange.withdrawMethods}"
							var="withdrawMethod">
							<h:outputText value="&#160;&#160;&#160;&#160;" />
							<h:outputText
								value="#{withdrawMethod.feeType.market.code} #{withdrawMethod.unit}#{withdrawMethod.value} #{withdrawMethod.note}" />
							<br />
						</ui:repeat>
					</p:tab>
				</p:accordionPanel>
			</div>
			<div class="col-sm-6">
				<p:accordionPanel value="#{exchangesViewAction.exchanges2}"
					var="exchange" activeIndex="-1">
					<p:tab title="#{exchange.exchange.name}"
						titleStyle="background-color:#{exchange.exchange.restInterface ? '#00FF00' : '#FF0000'};">
						<h:outputText value="#{text['exchanges.description']}: "
							style="font-weight:bold" />
						<h:outputText value="#{exchange.exchange.description}" />
						<br />
						<h:outputText value="#{text['exchanges.website']}: "
							style="font-weight:bold" />
						<p:link href="#{exchange.exchange.websiteAddress}"
							value="#{exchange.exchange.websiteAddress}" target="_blank"
							style="color:#0000FF" />
						<br />
						<h:outputText value="#{text['exchanges.status']}: "
							style="font-weight:bold" />
						<h:outputText value="#{exchange.exchange.restInterface ? 'On-Line' : 'Off-Line'}" 
							style="color:#{exchange.exchange.restInterface ? '#00FF00' : '#FF0000'};"/>
						<br />
						<h:outputText value="#{text['exchangesView.fee']}: "
							style="font-weight:bold" />
						<p:link href="#{exchange.exchange.feeAddress}"
							value="#{exchange.exchange.feeAddress}" target="_blank"
							style="color:#0000FF" />
						<br />
						<h:outputText value="#{text['exchangesView.tradingFees']}:"
							style="font-weight:bold" />
						<ui:repeat value="#{exchange.tradingFees}" var="tradingFee">
							<h:outputText value="&#160;" />
							<h:outputText
								value="#{tradingFee.unit}#{tradingFee.value} #{tradingFee.note}" />
						</ui:repeat>
						<br />
						<h:outputText value="#{text['exchangesView.depositMethods']}:"
							style="font-weight:bold" />
						<br />
						<ui:repeat value="#{exchange.depositMethods}" var="depositMethod">
							<h:outputText value="&#160;&#160;&#160;&#160;" />
							<h:outputText
								value="#{depositMethod.feeType.market.code} #{depositMethod.unit}#{depositMethod.value} #{depositMethod.note}" />
							<br />
						</ui:repeat>
						<h:outputText value="#{text['exchangesView.withdrawMethods']}:"
							style="font-weight:bold" />
						<br />
						<ui:repeat value="#{exchange.withdrawMethods}"
							var="withdrawMethod">
							<h:outputText value="&#160;&#160;&#160;&#160;" />
							<h:outputText
								value="#{withdrawMethod.feeType.market.code} #{withdrawMethod.unit}#{withdrawMethod.value} #{withdrawMethod.note}" />
							<br />
						</ui:repeat>
					</p:tab>
				</p:accordionPanel>
			</div>
			<p:spacer width="100%" height="10" />
			<div class="col-md-12 text-right">
					<h:outputText value="#{text['exchangesView.legend']}: "/>
					<p:spacer width="10" height="10" />
					<h:outputText value=" #{text['exchangesView.onLine']} " style="background-color:#00FF00;"/>
					<p:spacer width="10" height="10" />
					<h:outputText value=" #{text['exchangesView.offLine']} " style="background-color:#FF0000;"/>					
			</div>
			<p:spacer width="100%" height="100" />
		</h:form>
	</ui:define>
</ui:composition>
</html>