<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="../layouts/default.xhtml">
	<span id="top"></span>
	<ui:define name="title">#{text['website.headerMenu.dashboard']}</ui:define>
	<ui:define name="body">
		<h:form id="editUser">
			<div class="row">
				<div class="col-sm-12">
					<p:panelGrid id="newsBar" style="width:100%;">
						<p:row>
							<p:column styleClass="text-center">
								<ui:repeat value="#{dashboardAction.exchangeRates}"
									var="exchangeRate">
									<h:outputText value="#{exchangeRate.label}: " />
									<h:outputText value="#{exchangeRate.value}"
										style="color:#{exchangeRate.colour}">
										<f:convertNumber type="number"
											maxFractionDigits="5" />
									</h:outputText>
									<p:spacer width="50" height="10" />
								</ui:repeat>
							</p:column>
						</p:row>
					</p:panelGrid>
				</div>
			</div>
			<p:spacer width="100%" height="1" />
			<p:panel id="charts" header="#{text['home.leftMenu.title']}">
				<div class="row">
					<div id="about-side-menu" class="col-md-2" style="height: 330px;">
						<div class="bs-docs-sidebar" role="complementary">
							<div class=" hidden-sm">
								<ul class="nav bs-docs-sidenav">
									<li><p:commandLink ajax="false"
											actionListener="#{dashboardAction.selectMarket1}">
											<h:outputText value="#{dashboardAction.labelMarket1}" />
										</p:commandLink></li>
									<li><p:commandLink ajax="false"
											actionListener="#{dashboardAction.selectMarket2}">
											<h:outputText value="#{dashboardAction.labelMarket2}" />
										</p:commandLink></li>
									<li><p:commandLink ajax="false"
											actionListener="#{dashboardAction.selectMarket3}">
											<h:outputText value="#{dashboardAction.labelMarket3}" />
										</p:commandLink></li>
									<li><p:commandLink ajax="false"
											actionListener="#{dashboardAction.selectMarket4}">
											<h:outputText value="#{dashboardAction.labelMarket4}" />
										</p:commandLink></li>
									<li><p:commandLink ajax="false"
											actionListener="#{dashboardAction.selectMarket5}">
											<h:outputText value="#{dashboardAction.labelMarket5}" />
										</p:commandLink></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-10">
						<div class="" aria-label="timeframe">
							<p:panelGrid id="zoom" style="width:100%;">
								<p:row>
									<p:column>
										<h:outputText value="Zoom: " />
										<div id="actions" class="btn-group btn-group-xs">
											<h:commandButton value="15m"
												action="#{dashboardAction.updateZoom0}" id="zoom0"
												immediate="true" styleClass="btn btn-primary"
												disabled="#{!dashboardAction.zoom0Enabled}" />
											<h:commandButton value="1h"
												action="#{dashboardAction.updateZoom1}" id="zoom1"
												immediate="true" styleClass="btn btn-primary"
												disabled="#{!dashboardAction.zoom1Enabled}" />
											<h:commandButton value="6h"
												action="#{dashboardAction.updateZoom2}" id="zoom2"
												immediate="true" styleClass="btn btn-primary"
												disabled="#{!dashboardAction.zoom2Enabled}" />
											<h:commandButton value="1D"
												action="#{dashboardAction.updateZoom3}" id="zoom3"
												immediate="true" styleClass="btn btn-primary"
												disabled="#{!dashboardAction.zoom3Enabled}" />
										</div>
										<p:chart id="prices" type="line"
											model="#{dashboardAction.prices}" style="height:500px;" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</div>
					</div>
				</div>
			</p:panel>
			<p:spacer width="100%" height="1" />
			<span id="news"></span>
			<p:panel id="news" header="#{text['home.leftMenu.news']}">
				<p:accordionPanel activeIndex="-1">
					<p:tab title="CoinDesk">
						<p:feedReader value="http://feeds.feedburner.com/CoinDesk"
							var="feed">
							<h:outputText value="#{feed.title}"
								style="font-weight: bold;display:block" />
							<h:outputText value="#{feed.description.value}" escape="false" />
							<p:separator />
						</p:feedReader>
					</p:tab>
					<p:tab title="BitcoinMagazine">
						<p:feedReader value="http://feeds.feedburner.com/BitcoinMagazine"
							var="feed">
							<h:outputText value="#{feed.title}"
								style="font-weight: bold;display:block" />
							<h:outputText value="#{feed.description.value}" escape="false" />
							<p:separator />
						</p:feedReader>
					</p:tab>
				</p:accordionPanel>
				<p:accordionPanel activeIndex="-1">
					<p:tab title="Wall Street Journal">
						<p:feedReader value="http://online.wsj.com/xml/rss/3_7481.xml"
							var="feed">
							<h:outputText value="#{feed.title}"
								style="font-weight: bold;display:block" />
							<h:outputText value="#{feed.description.value}" escape="false" />
							<p:separator />
						</p:feedReader>
					</p:tab>
					<p:tab title="Cryptomining-Blog">
						<p:feedReader value="http://cryptomining-blog.com/feed/"
							var="feed">
							<h:outputText value="#{feed.title}"
								style="font-weight: bold;display:block" />
							<h:outputText value="#{feed.description.value}" escape="false" />
							<p:separator />
						</p:feedReader>
					</p:tab>
				</p:accordionPanel>
				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-4 text-right">
						<a href="#top">top</a>
					</div>
				</div>
			</p:panel>
			<p:spacer width="100%" height="100" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-58137844-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>
